<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/CSS/inicial.css">
    <link rel="icon" href="/static/images/logoFarmacia-2.png">
    <script src="https://kit.fontawesome.com/c837c3392d.js" crossorigin="anonymous"></script>
</head>
</head>

<body>
    <header class="header">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="#" class="enlace">
               <img src="/static/images/logoFarmacia-2.png" alt="" class="logo">
               <p>Farmacia Salud</p> 
            </a>
            <ul class="active">
                <li>
                    <a  href="/templates/index.html" >
                        <span> Inicio </span>
                        <span>
                            <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a  href="/templates/cursos.html" >
                        <span> Cursos </span>
                        <span>
                            <i class="fa-solid fa-microscope" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a  href="/templates/contacto.html" >
                        <span> Contacto </span>
                        <span>
                            <i class="fas fa-envelope-open-text" aria-hidden="true"></i> 
                        </span>
                    </a>
                </li>
                <li>
                    <a  href="/templates/biblioteca.html" >
                        <span> Biblioteca </span>
                        <span>
                            <i class="fa-solid fa-book" aria-hidden="true"></i> 
                        </span>
                    </a>
                </li>
                <li>
                    <a  href="/templates/inscriptos.html">
                        <span>Inscriptos </span>
                        <span>
                           <i class="fa-solid fa-user" aria-hidden="true"></i> 
                        </span>
                    </a>
                </li>
            </ul> 
        </nav>
        </nav>
    </header>
    <main class="contenedor-main-edit">
        <h1>Editar</h1>
        <h1>Formulario</h1>
        {% for inscribite in inscribite %}
        <form method="post" action="/update" enctype="multipart/form-data">
    
            ID:
            <input type="text" value="{{ inscribite[0] }}" name="txtID" id="txtID">
            Nombre y Apellido:
            <input type="text" value="{{ inscribite[1] }}" name="txtnombre" id="txtnombre">
            <br>
            Correo electrónico:
            <input type="text" value="{{ inscribite[2] }}" name="txtemail" id="txtemail">
            <br>
            Comprobante de pago:
            {{ inscribite[3] }}
            <input type="file" name="txtfoto" id="txtfoto">
            <br>
            <br>
            <input type="submit" value="Agregar">
    
        </form>
        {% endfor %}
    </main>
    
    <footer class="pie-pagina">
        <div class="seccion-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/static/images/logoFarmacia-2.png" alt="Logo de Farmacia">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Acerca de Nosotros</h2>
                <p>Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados por la atención al cliente y la industria farmacéutica. Estamos dedicados a brindar información precisa y orientación para que tomes decisiones informadas sobre tu salud.</p>
                <p> Te invitamos a visitarnos en nuestras redes sociales y descubrir la diferencia que Farmacia Salud puede hacer en tu vida. ¡Esperamos poder servirte y acompañarte en tu camino hacia una salud plena!</p>
            </div>
            <div class="box">
                <h2>Buscanos en Nuestras Redes Sociales</h2>
                <div class="red-social">
                    <a target="_blank" href="https://es-la.facebook.com/" ><i class="fa-brands fa-square-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a>
                    <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="seccion-2">
            <small>&copy; 2023 <b>Farmacia Salud</b> -Todos los Derechos Reservados </small>
        </div>

    </footer>
    <script src="/js/main.js"></script>


</body>

</html>