<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra salud es importante</title>
    <link rel="stylesheet" href="/static/CSS/inicial.css">
    <link rel="icon" href="/static/images/logoFarmacia-2.png">
    <script src="https://kit.fontawesome.com/c837c3392d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <!-- <a class="logo"><img src="logoFarmacia.png" alt="Logo de la página" height="100px"></a> -->
            <!--<a href="logoFarmacia.png" class="logoFarmacia" target="_blank">"Nuestra salud es importante"</a>--> 
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <a href="/static/templates/index.html" class="enlace">
                   <img src="/static/images/logoFarmacia-2.png" alt="" class="logo">
                   <p>Farmacia Salud</p> 
                </a>
                <ul class="active">
                    <li>
                        <a  href="/static/templates/index.html" >
                            <span> Inicio </span>
                            <span>
                                <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a  href="/static/templates/cursos.html" >
                            <span> Cursos </span>
                            <span>
                                <i class="fa-solid fa-microscope" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a  href="/static/templates/contacto.html">
                            <span> Contacto </span>
                            <span>
                                <i class="fas fa-envelope-open-text" aria-hidden="true"></i> 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a  href="/static/templates/biblioteca.html" >
                            <span> biblioteca </span>
                            <span>
                                <i class="fa-solid fa-book" aria-hidden="true"></i> 
                            </span>
                        </a>
                    </li>
                    <li>
                        <a  href="/static/templates/usuario.html">
                            <span>Usuario </span>
                            <span>
                               <i class="fa-solid fa-user" aria-hidden="true"></i> 
                            </span>
                        </a>
                    </li>
                </ul> 
            </nav>
    </header>
    
    <main>
         <!-- Banner -->
                <div class="banner">
                    <div class="capa"></div>
                    <div class="infor">
                        <i class="fa-solid fa-spa" style="color: #ffffff;"></i>
                   <h1>Cursos de Productos Naturales </h1> 
                   <p>Contamos con una variedad de cursos pensados para el cuidado integral de tu cuerpo.</p>
                   <h2>¡Inscribete Ya!</h2>
                    <a href="/static/templates/cursos.html">+ Info</a>
                    </div>
                </div>
                
  <!-- productos -->
  <section class="contenedor-principal">
    <article class="productos">
        <div class="texto-productos">
            <h1>Nuestros productos</h1>
            <hr>
            <p>Nuestros productos abarcan un amplio rango de usos para el cuidado integral de tu cuerpo</p>
            
            <p> ¿Qué  son los productos para el cuidado de la salud?</p>
            <p>Los productos de cuidado personal se aplican sobre la piel, dientes o mucosas del cuerpo y tienen como objetivo la higiene, la estética, </p>
            <p>la neutralización y eliminación de parásitos.</p>
            
        </div>
        <div class="imagen-productos">
            <img src="/static/images/nuestrosProductos.jpeg" alt="nuestrosProductos" height="100px">
        </div>
        <article class="contenedor-secundario">
            <div class="texto-capilar">
                <h2>Cuidado capilar</h2>
                <p>Estos productos son los cosméticos capilares. Se los define como  preparados destinados a entrar en contacto con el pelo y con el cuero cabelludo para limpiarlos, promover la belleza, modificar su apariencia, y/o protegerlos con el fin de mantenerlos en buenas condiciones</p>
                <br>
            </div>
            <div class="imagen-capilar">
                <img src="/static/images/cuidadoCapilar.jpeg" alt="cuidadoCapilar" height="100px">
            </div>
            <div class="productos-capilares">
                <aside class="lociones-capilar">
                    <div class="lociones-capilar">
                        <h3>Lociones capilares</h3>
                        <p>Las lociones capilares son productos para el pelo de textura líquida y no untuosa, que ayudan a tratar preocupaciones capilares de lo más diversas,</p>
                        <p> la caída del cabello, la aparición y prevención de la caspa o problemas por irritación del cuero cabelludo.</p>
                        <br>
                    </div>
                    <div class="lociones capilar">
                        <img src="/static/images/lociones.jpeg" alt="lociones" height="100px">
                   </div>
                </aside>
                <aside class="shampoos">
                    <div class="shampoos">
                        <h3>Shampoos</h3>
                        <p>Un shampoo es un preparado cosmético, detergente, que se utiliza para limpiar el cabello y cuero cabelludo,</p>
                        <p> además de dar brillo, belleza y suavidad al cabello.</p>
                        <br>
                    </div>
                    <div class="Shampoos">
                        <img src="/static/images/shampues.jpeg" alt="shampues" height="100px">
                    </div>
                </aside>
                <aside class="acondicionador">
                    <div class="acondicionador">
                        <h3>Acondicionadores Capilares</h3>
                        <p>Los acondicionadores capilares reparan, en cierta medida, </p>
                        <p>los daños que se han producido en el cabello, tienen acción antiestética </p>
                        <p>favorecen el peinado. Así, el pelo luce brillante y suave de nuevo. En  pocas pasadas, era frecuente el empleo de la yema y la clara del huevo cuando el cabello se mostraba seco.</p>
                        <br>
                    </div>
                    <div class="acondicionadorer">
                        <img src="/static/images/acondicionadores.jpeg" alt="acondicionadores" height="100px">
                    </div>
                </aside>
            </div>
        </article>
        <article class="contenedor-secundario">
        <div class="texto-facial">
            <h2>Cuidado facial</h2>
            <p>La higiene facial logra eliminar las c lulas muertas que se localizan en la capa más superficial de la piel, en la cual actúan varios factores externos contaminantes, consiguiendo que los poros se obstruyan y la piel obtenga hidratación y oxígeno.</p>
            <br>                    
        </div>
        <div class="imagen-facial">
            <img src="/static/images/cuidadoFacial.jpeg" alt="cuidadoFacial" height="100px">
        </div>
        <div class="productos-faciales">
            <aside class="aguas-miscelares">
                <div class="texto-agua">
                    <h3>Aguas Miscelares</h3>
                    <p>El agua micelar es un producto cosmético que está formado a base de micelas, estas son un grupo de moléculas que logran atraer y retirar suciedad,</p>
                    <p> No suele contener colorantes, perfumes o alcoholes, componentes que son agresivos con la epidermis.</p>
                    <br>
                </div>
                <div class="imagen.agua">
                        <img src="/static/images/aguas.jpeg" alt="aguas" height="100px">
                </div>
            </aside>
            <aside class="cremas">
                <div class="texto-cremas">
                    <h3>Cremas Faciales</h3>
                    <p>En farmacia, una crema es un preparado semis lido para el tratamiento tópico. Las cremas son a base de agua (a diferencia de un ungüento o pomada), </p>
                    <p>de un 60 a 80 % de agua, para poder formar un l quido espeso y homog neo.</p>
                    <br>
                </div>
                <div class="imagen-cremas">
                    <img src="/static/images/cremas.jpeg" alt="cremas" height="100px">
                </div>
            </aside>
            <aside class="Mascarillas">
                <div class="texto-mascarillas">
                    <h3>Mascarillas</h3>
                    <p>Una mascarilla facial es un producto cosmético de textura normalmente cremosa o pastosa, que se aplica de manera ocasional sobre el rostro</p> 
                    <p>con el objetivo de mejorar el estado de salud de la piel.</p>
                    <br>
                </div>
                <div class="imagen-mascarillas">
                    <img src="/static/images/mascarillas.jpeg" alt="mascarillas" height="100px">
                </div>
            </aside>
        </div>
        </article>
        <article class="contenedor-secundario">
            <div class="texto-corporal">
                <h2>Cuidado corporal</h2>
                <p>Se puede definir la higiene corporal como el conjunto de cuidados que necesita nuestro cuerpo para aumentar su vitalidad y mantenerse en un estado saludable.</p>
                <br>
            </div>
            <div class="imagen-corporal">
                <img src="/static/images/cuidadoCorporal.jpeg" alt="cuidadoCorporal" height="100px">
            </div>
            <div class="productos-corporales">
                <aside class="jabones">
                    <div class="texto-jabon">
                        <h3>Jabones</h3>
                        <p>Ayudan a mantener los aceites naturales (propios) de la piel, proporcionando suavidad y elasticidad. Son antioxidantes y buenos tónicos.</p>
                        <p>Algunos tienen la propiedad de estimular la regeneraci n celular, por lo que ayudan a reparar y mantener la piel sana.</p>
                        <br>
                    </div>
                    <div class="imagen-jabon">
                        <img src="/static/images/jabones.jpeg" alt="jabones" height="100px">
                    </div>
                </aside>
                <aside class="crema-corporal">
                    <div class="texto-corporal">
                        <h3>Cremas Corporales</h3>
                        <p>Las cremas corporales son un magnífico recurso para mantener la salud de la piel. Desde cremas ligeras a fórmulas densas y ricas,</p>
                        <p>Las cremas corporales de hoy en d a dan cobertura a todas las pieles. Trabajan distintas necesidades: hidratación, firmeza, flacidez corporal.</p>
                        <br> 
                    </div>
                    <div class="imagen-ccorporal">
                        <img src="/static/images/cremas.jpeg" alt="cremas" height="100px">
                    </div>
                </aside>
                <aside class="aceite-corporal">
                    <div class="texto-aceite">
                        <h3>Aceites</h3>
                        <p>Los aceites corporales se recomiendan para todo tipo de pieles, especialmente pieles secas y extra secas. Modo de usar: Agite el producto antes de usar.</p>
                        <p>Durante el ba o, aplique en todo el cuerpo, excepto en el rostro, luego enjuague. Tambien puede ser usado puro sin enjuague si asi lo desea.</p>
                        <br>
                    </div>
                    <div class="imagen-aceite">
                        <img src="/static/images/aceite.jpeg" alt="aceite" height="100px">
                    </div>
                </aside>
            </div>
        </article>
    </article>
</section>
<section class="contenedor-principal">
    <article class="recetas">
        <div class="texto-recetas">    
            <h1> Nuestras recetas</h1>
            <hr>
            <p>Preparamos seg n arte todo aquello que necesites para cuidar tu salud</p>
            <br>
        </div>
        <div class="imagen-recetas">
            <img src="/static/images/recetasCaseras.jpg" alt="nuestrasRecetas" height="100px">
        </div>
        <div class="tipo-recetas">
            <aside class="recetas-magistrales">
                <div class="texto-magistral">
                    <h2>Recetas magistrales</h2>
                    <p>Una fórmula magistral es un medicamento preparado por el farmacéutico de manera individualizada para un paciente. En enfermedades dermatológicas es muy frecuente que los pacientes precisen la aplicación de fórmulas magistrales.</p>
                    <br>
                </div>
                <div class="imaen-magistral">
                    <img src="/static/images/recetasMagistrales.jpeg" alt="recetasMagistrales" height="100px">
                </div>
            </aside>
            <aside class="recetas-caseras">
                <div class="texto-caseras">
                    <h2>Recetas caseras</h2>
                    <p>Las hierbas medicinales son plantas usadas como medicamento. Las personas las usan para ayudar a prevenir o curar una enfermedad. Las usan para aliviar síntomas, incrementar la energía, relajarse o perder peso. Los remedios herbales no son regulados ni probados como los medicamentos.</p>
                    <p>Consultanos sin compromiso</p>
                    <br>
                </div>
                <div class="imagen-caseras">
                    <img src="/static/images/recetasCaseras2.jpeg" alt="recetasCaseras2">
                </div>
            </aside>
            <aside class="aromaterapia">
                <div class="texto-aromaterapia">
                    <h2>Aromoterapia</h2>
                    <p>La aromaterapia es el uso de los aceites esenciales de las plantas para mejorar el equilibrio de la mente, el cuerpo y el espíritu. La usan los pacientes de cáncer para mejorar la calidad de vida y reducir la tensión, la ansiedad, el dolor, las náuseas y los vómitos que causa el cáncer y su tratamiento.</p>
                    <p>En nuestro gabinete, los especialistas te indicar n cu l es la esencia adecuada para vos</p>
                    <br>
                </div>
                <div class="imagen-aromaterapia">
                    <img src="/static/images/aromoterapia.jpeg" alt="aromoterapia" height="100px">
                </div>
            </aside>
        </div>

    </article>
</section>

</main>

    <footer class="pie-pagina">
        <div class="seccion-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="/static/images/logoFarmacia-2.png" alt="Logo de Farmacia">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>Acerca de Nosotros</h2>
                <p>Nuestro equipo está compuesto por profesionales altamente capacitados y apasionados por la atención al cliente y la industria farmacéutica. Estamos dedicados a brindar información precisa y orientación para que tomes decisiones informadas sobre tu salud.</p>
                <p> Te invitamos a visitarnos en nuestras redes sociales y descubrir la diferencia que Farmacia Salud puede hacer en tu vida. ¡Esperamos poder servirte y acompañarte en tu camino hacia una salud plena!</p>
            </div>
            <div class="box">
                <h2>Buscanos en Nuestras Redes Sociales</h2>
                <div class="red-social">
                    <a target="_blank" href="https://es-la.facebook.com/" ><i class="fa-brands fa-square-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a>
                    <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="seccion-2">
            <small>&copy; 2023 <b>Farmacia Salud</b> -Todos los Derechos Reservados </small>
        </div>

    </footer>
    
</body>
</html>